@import "variables";

body {
  background-color: $background_color_main;
  font-family: Sahel, serif;
  direction: rtl;
  text-align: inherit;
}

a,
a:hover {
  text-decoration: inherit;
  color: inherit;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.vh-100 {
  height: 100vh;
}

.h-100 {
  height: 100%;
}

.h-fit {
  height: fit-content;
}
